/* Change text selection color */
input::-moz-selection {
	background-color: rgba(0, 0, 0, 0.99);
	color: #fff;
}
input::-webkit-selection {
	background-color: rgba(0, 0, 0, 0.99);
	color: #fff;
}
input::selection {
	background-color: rgba(0, 0, 0, 0.99);
	color: #fff;
}

/* Commonly used traits */
.not_displayed { display: none; }
.hidden    { visibility: hidden; }
.right     { text-align: right; }
.left      { text-align: left; }
.center    { text-align: center; }
.vcenter   { vertical-align: middle; }
.top       { vertical-align: top; }
.width100  { width: 100%; }
.nowrap    { white-space: nowrap; }
.fontsmall { font-size: 0.7em; }
.fontbig   { font-size: 2.0em; }
.bold      { font-weight: bold; }
.underline { text-decoration: underline; }
.pre       { white-space: pre; }
.pointer   { cursor: pointer; }
.hidden    { visibility: hidden; }
.red       { color :#ff0000; }


/* ID-specific traits */
#maintable {
	padding-top: 0px;
}

/* Root element traits */

body {
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #666;
	color: #eee;
	font-family: Verdana, monospace;
}

a {
	text-decoration: underline;
	color: #eee;
}
a:hover {
	color: #fff;
	text-decoration: underline;
	text-shadow:  4px  0px 10px rgba(130, 130, 130, 0.9),
	              0px  4px 10px rgba(130, 130, 130, 0.9),
	             -4px  0px 10px rgba(130, 130, 130, 0.9),
	              0px -4px 10px rgba(130, 130, 130, 0.9);
}

hr {
	padding: 0px;
	color: #000;
}

h1 {
	text-shadow:  4px  0px 5px rgba(0, 0, 0, 0.9),
	              0px  4px 5px rgba(0, 0, 0, 0.9),
	             -4px  0px 5px rgba(0, 0, 0, 0.9),
	              0px -4px 5px rgba(0, 0, 0, 0.9);
}

/* Commonly-used element-based traits */
td.hspacer {
	padding-left: 20px; /* Horizontal spacer */
}
div.spacer {
	padding-top: 30px; /* Vertical spacer */
}
div.small_spacer {
	margin:     0px;
	margin-top: 8px;
	padding:    0px;
}
/* Download/link boxes */
.download_box {
	font-weight: bold;
	text-decoration: none;
	background-color: #111;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	white-space: nowrap;
	box-shadow: 4px  0px 10px rgba(150, 150, 150, 0.6),
	            0px  4px 10px rgba(150, 150, 150, 0.6),
	           -4px  0px 10px rgba(150, 150, 150, 0.6),
	            0px -4px 10px rgba(150, 150, 150, 0.6),
	            5px  5px  5px rgba( 10,  10,  10, 0.3);
}
.download_box:hover {
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	box-shadow: 6px  0px 10px rgba(150, 150, 150, 0.8),
	            0px  6px 10px rgba(150, 150, 150, 0.8),
	           -6px  0px 10px rgba(150, 150, 150, 0.8),
	            0px -6px 10px rgba(150, 150, 150, 0.8),
	            5px  5px  5px rgba( 10,  10,  10, 0.3);
}

a.box {
	font-weight: bold;
	text-decoration: none;
	background-color: #111;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.3);
}
a.box:hover {
	color: #fff;
	background-color: #222;
	text-decoration: none;
	box-shadow: 4px  0px 10px rgba(150, 150, 150, 0.6),
	            0px  4px 10px rgba(150, 150, 150, 0.6),
	           -4px  0px 10px rgba(150, 150, 150, 0.6),
	            0px -4px 10px rgba(150, 150, 150, 0.6),
	            5px  5px  5px rgba( 10,  10,  10, 0.3);
}

/* "Floating rounded things" */
table.page {
	background-color: #444;
	border-radius: 30px;
	padding: 15px;
	min-width: 500px;
	width: 100%;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}
td.title {
	cursor:        default;
	font-size:     1.5em;
	font-weight:   bold;
	padding-left:  15px;
	text-align:    center;
	border-radius: 10px;
	text-shadow:  4px  0px 10px rgba(130, 130, 130, 0.6),
	              0px  4px 10px rgba(130, 130, 130, 0.6),
	             -4px  0px 10px rgba(130, 130, 130, 0.6),
	              0px -4px 10px rgba(130, 130, 130, 0.6);
}

/* Ripper header */
table.header {
	padding-top: 0px;
}
a.header {
	text-decoration: none;
	text-shadow:  4px  0px 10px rgba(150, 150, 150, 0.6),
	              0px  4px 10px rgba(150, 150, 150, 0.6),
	             -4px  0px 10px rgba(150, 150, 150, 0.6),
	              0px -4px 10px rgba(150, 150, 150, 0.6);
}
div.supheader {
	font-size: 1.0em;
	position: relative;
	top: 28px;
	left: -50px;
	letter-spacing: 0.1em;
}
div.header {
	font-size: 4.0em;
	font-weight: bold;
	letter-spacing: -0.07em;
}
div.subheader {
	text-align: center;
}

/* Inputs */

td.textbox {
	text-align: center;
	padding-top: 5px;
}
input.textbox {
	color: #000;
	background-color: #eee;
	font-size: 1.2em;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 5px;
	letter-spacing: -0.03em;
	display: inline;
	width: 98%;
}
input.textbox:hover:enabled {
	box-shadow:  4px  0px 10px rgba(150, 150, 150, 0.6),
	             0px  4px 10px rgba(150, 150, 150, 0.6),
	            -4px  0px 10px rgba(150, 150, 150, 0.6),
	             0px -4px 10px rgba(150, 150, 150, 0.6);
}

td.button {
	padding-top: 10px;
	text-align: center;
	vertical-align: middle;
}
input.button {
	font-size: 1.9em;
	font-weight: bold;
	background-color: #eee;
	letter-spacing: -0.03em;
	border-radius: 10px;
	padding: 5px;
	padding-left: 35px;
	padding-right: 35px;
	cursor: pointer;
	box-shadow: 5px  5px  5px rgba(  0,   0,   0, 0.6);
}
input.button:hover:enabled {
	box-shadow:   4px  0px 10px rgba(150, 150, 150, 0.6),
	              0px  4px 10px rgba(150, 150, 150, 0.6),
	             -4px  0px 10px rgba(150, 150, 150, 0.6),
	              0px -4px 10px rgba(150, 150, 150, 0.6);
}
input.button:active {
	background-color: #ccc;
}

input:disabled {
	cursor: default;
	color: #000;
	-webkit-transition:text-shadow 0.6s ease-in-out;
	   -moz-transition:text-shadow 0.6s ease-in-out;
	     -o-transition:text-shadow 0.6s ease-in-out;
	    -ms-transition:text-shadow 0.6s ease-in-out;
	        transition:text-shadow 0.6s ease-in-out;
	text-shadow: 0 0 5px rgba(0,0,0,0.9);
}

label.checkbox {
	font-size: 1.1em;
	padding: 10px;
	padding-left: 5px;
	white-space: nowrap;
}
label#rip_cached {
	display: none;
}
label.checkbox:hover {
	color: #fff;
	text-shadow:  4px  0px 10px rgba(190, 190, 190, 0.6),
	              0px  4px 10px rgba(190, 190, 190, 0.6),
	             -4px  0px 10px rgba(190, 190, 190, 0.6),
	              0px -4px 10px rgba(190, 190, 190, 0.6);
}

/* Status/progress bars */
div.statusbar {
	padding: 5px;
	padding-top: 10px;
	text-align: left;
}
div.error {
	color: #f77;
	text-shadow:  4px  0px 10px rgba(190, 90, 90, 0.6),
	              0px  4px 10px rgba(190, 90, 90, 0.6),
	             -4px  0px 10px rgba(190, 90, 90, 0.6),
	              0px -4px 10px rgba(190, 90, 90, 0.6);
	cursor: default;
}

div#progress_bar_div {
	text-align: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 0px;
	display: none;
}
#progress_bar{
	width: 95%;
	padding: 5px;
}

/* List of supported sites */
div.sites_header {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	padding: 5px;
}
div.site, td.site {
	background-color: #666;
	border-radius: 10px;
	padding: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
a.site {
	text-decoration: none;
}
div.site:hover {
	background-color: #888;
	box-shadow:   4px  0px 10px rgba(100, 100, 100, 0.6),
	              0px  4px 10px rgba(100, 100, 100, 0.6),
	             -4px  0px 10px rgba(100, 100, 100, 0.6),
	              0px -4px 10px rgba(100, 100, 100, 0.6),
	              5px  5px  5px rgba(  0,   0,   0, 0.6);
}

div.footer {
	padding-left: 30px;
	padding-top: 20px;
	font-size: 0.7em;
}

td.recent {
	font-size: 0.9em;
}
div#recent {
	min-height: 300px;
}
li.recent {
	padding-top: 15px;
	list-style: none;
}

td.updates {
	font-size: 0.8em;
	padding-bottom: 0px;
}
ul {
	font-size: 1.0em;
	padding-left: 30px;
}
li {
	padding-top: 5px;
	list-style: circle;
}
div.date {
	text-align: left;
	font-size: 1.0em;
	cursor: default;
	font-style: italic;
	margin-bottom: -15px;
	padding-top: 0px;
}

.download_arrow {
	background-image: url(../images/download.png);
	background-repeat: no-repeat;
	background-size: 90% auto;
	background-position: center center;
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

#bottom_bar {
	background-color: #444;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}
table.bottom {
	max-height: 10px;
	width: 100%;
}
td.bottom {
	white-space: nowrap;
	padding-bottom: 5px;
	margin: 0px;
}
td.donate {
	text-align: right;
	width: 99%;
	padding-right: 20px;
}
td.donate:hover {
	background-color: #444;
}
td.bottom_active {
	background-color: #454;
}
td.bottom:hover {
	background-color: #555;
}
a.bottom {
	text-decoration: none;
	font-size: 1.0em;
	font-weight: bold;
	padding: 15px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
}
a.bottom:hover {
	background-color: #555;
	text-shadow:  4px  0px 5px rgba(130, 130, 130, 0.9),
	              0px  4px 5px rgba(130, 130, 130, 0.9),
	             -4px  0px 5px rgba(130, 130, 130, 0.9),
	              0px -4px 5px rgba(130, 130, 130, 0.9);
	text-decoration: none;
}

div.donate_button input {
	background: transparent url(../images/donate.png);
	cursor: pointer;
	width:  92px;
	height: 26px;
	border: none;
}
div.donate_button input:hover {
	background: transparent url(../images/donate_color.png);
}

div.warning {
	background-color: #444;
	border-radius: 30px;
	padding: 25px;
	width: auto;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
	margin-bottom: 30px;
}

#adbrock {
	border-radius: 20px;
	background-color: #555;
	padding: 20px;
	padding-bottom: 10px;
}

#noscript {
	font-size: 2.0em;
	position: fixed;
	top: 20%;
	left: 10%;
	background-color: #b33;
	color: #eee;
	padding: 30px;
	padding-top: 0px;
	border-radius: 20px;
}
