rips/*
*.pyc
*.swp
.DS_STORE
sites/occ.key
*spinner*
favicon.ico
v1/
recent_rips.lst
sites/rips/
sites/tumblr_api.key*
sites/twitter_api.key*
sites/test.py
TODO
log.cleanup
*.txt
!robots.txt
sites/site_ehentai.py
sites/site_mediafire.py
sites/site_vk.py
graphs/.*
*.log
graphs/logs/*
misc/
