# Hide certain files/types
RedirectMatch 404 ^.*\.py$
RedirectMatch 404 ^.*url_blacklist\.txt$
RedirectMatch 404 ^.*admin_ip\.txt$
RedirectMatch 404 ^.*admin_password\.txt$

## USER IP BANNING
<Limit GET POST>
 order allow,deny
  deny from 254.254.252.251
allow from all
</Limit>
