body {
	padding: 20px;
	color: #fdfdfd;
	background-color: #5a5a5a;
	font-family: Consolas, Verdana, monospace;
}

table {
	background-color: #444444;
  -moz-border-radius:    40px;
  -webkit-border-radius: 40px;
   -khtml-border-radius: 40px;
  border-radius:         40px;
}

a {
	text-decoration: none;
	color: #f7f7f7;
}
a:hover {
	text-decoration: underline;
	color: #fff;
}

td {
	padding: 5px;
	text-align: center;
}

/* Title bar */
td.header {
	padding-top:    25px;
	padding-bottom: 15px;
	padding-left:   15px;
	padding-right:  15px;
	font-size: 4.0em;
	font-weight: bold;
	letter-spacing: -0.05em;
	color: #f7f7f7;
}

td.sitebar {
	padding: 5px;	
}

td.urlbar {
	padding-top:    5px;
	padding-bottom: 5px;
	padding-left:  20px;
	padding-right: 20px;
}

td.ripbar {
	padding-top:    15px;
	padding-bottom: 15px;
	cursor: default;
}

td.statusbar {
	cursor: default;
}

input {
	color: #fdfdfd;
	background-color: #999999;
	font-size: 1.2em;
	font-weight: bold;
	border: none;
	padding: 3px;
	padding-bottom: 4px;
	padding-left: 9px;
	width: 100%;
  -moz-border-radius:    40px;
  -webkit-border-radius: 40px;
   -khtml-border-radius: 40px;
  border-radius:         40px;
}

button {
	color: #fdfdfd;
	background-color: #999999;
	font-size: 2.0em;
	font-weight: bold;
	text-decoration: none;
	border: none;
	padding-top:    2px;
	padding-bottom: 2px;
	padding-left:  50px;
	padding-right: 50px;
  -moz-border-radius:    40px;
  -webkit-border-radius: 40px;
   -khtml-border-radius: 40px;
  border-radius:         40px;
}
button:hover {
	color: #ffffff;
	background-color: #888888;
}
button:active {
	color: #ffffff;
	background-color: #777777;
}

#status_bar {
	padding: 5px;
	padding-bottom: 15px;
}
